In [12]:
import pandas as pd
import numpy as np

# Task1: Complete the Sream C from the months data

## It is simmilar to streamD

In [13]:
streamD = pd.read_excel("C:\\Users\\ggfor\\Downloads\\Stream D .xlsx", sheet_name=None)






streamC = streamD.copy()

## Have date as index

In [14]:
for i in streamC.keys():
    streamC[i] = streamC[i].set_index("Dates")

In [15]:
from datetime import datetime

# The months for stream C will start from September

In [16]:
sept = pd.read_excel("C:\\Users\\ggfor\\Downloads\\WWTP Lab Results September 1.xlsx",sheet_name=None, skiprows=2)
# sept is a dict of dataframe (excel sheets)


dates= pd.Series(streamC["outlet upper stream"].index)
dates = dates.dt.strftime('%d-%m-%Y')

dates = dates[dates.apply(lambda x: (x.split("-")[1] == "09") &( float(x.split("-")[0]) >= 9.0 ) )]


#cleaning names
clean = [x.strip(" ") for x in sept.keys()]
newDic = {k: v for k, v in zip(clean, sept.keys())}
c1  = streamC["Aeration tank"]    # It is actully C-1
c2 = streamC["Anoxic tank"]
c3  = streamC["outlet lower stream "]    # It is actully C-1
c4 = streamC["outlet upper stream"]
mbrC1  = streamC["MBR TANK D-1"]    # It is actully C-1

mbrC2 = streamC["MBR TANK D-2"]
j = 1 
for i in dates:
    
    realDate = newDic[i]   
    
    skip = 2 
    if(float(i.split("-")[0]) >= 12 ):
        skip = 4
    
    
    df = pd.read_excel("C:\\Users\\ggfor\\Downloads\\WWTP Lab Results September 1.xlsx",sheet_name=realDate, skiprows=skip)

    date_obj = datetime.strptime(realDate.strip(), '%d-%m-%Y')

# Format datetime object to string in 'y-m-d' format
    realDate = date_obj.strftime('%Y-%m-%d')
    
   #print(df.set_index("Parameter")["MBR Tank C-1"][2:])
    para = df.set_index("Parameter")["MBR Tank C-1"][2:]
    para2 = df.set_index("Parameter")["MBR Tank C-2"][2:]
    
    
    
    
    mbrC1.loc[realDate+ " "] = para
    mbrC2.loc[realDate] = para2
    if(skip == 4 ):
        # which mean there are more columns to read than just the MBR
        p3 = df.set_index("Parameter")["Aeration Tank C"][2:]
        p4 = df.set_index("Parameter")["Anoxic Tank C"][2:]
        p5 = df.set_index("Parameter")["Outlet Lower Stream C"][2:]
        p6 = df.set_index("Parameter")["Outlet Upper Stream C"][2:]
        
        c1.loc[realDate] = p3
        c2.loc[realDate] = p4
        c3.loc[realDate] = p5
        c4.loc[realDate] = p6
        
        
        #print(realDate)
       
        

        
        
        # p3 is correct. It didt not change in c though

## Now i will do the same thing but for the rest of the months

In [18]:
paths = [
    "C:\\Users\\ggfor\\Downloads\\WWTP Lab Results October 1.xlsx",
    "C:\\Users\\ggfor\\Downloads\\WWTP Lab Results November.xlsx",
    "C:\\Users\\ggfor\\Downloads\\WWTP Lab Results December.xlsx"]
months =[10,11,12]
j = 0
for i in paths:
    df = pd.read_excel(i,sheet_name=None, skiprows=2)
    

    dates= pd.Series(streamC["outlet upper stream"].index)
    dates = dates.dt.strftime('%d-%m-%Y')

    dates = dates[dates.apply(lambda x:  ( float(x.split("-")[1]) == months[j] ) )]
    
    clean = [x.strip(" ") for x in df.keys()]
    newDic = {k: v for k, v in zip(clean, df.keys())}
    c1  = streamC["Aeration tank"]    # It is actully C-1
    c2 = streamC["Anoxic tank"]
    c3  = streamC["outlet lower stream "]    # It is actully C-1
    c4 = streamC["outlet upper stream"]
    mbrC1  = streamC["MBR TANK D-1"]    # It is actully C-1

    mbrC2 = streamC["MBR TANK D-2"]
    for i in dates:
        if(i != "27-12-2010"):
            
            realDate = newDic[i] 
    
            df = pd.read_excel(paths[j],sheet_name=realDate, skiprows=4)

            date_obj = datetime.strptime(realDate.strip(), '%d-%m-%Y')

# Format datetime object to string in 'y-m-d' format
            realDate = date_obj.strftime('%Y-%m-%d')
    
    
   #print(df.set_index("Parameter")["MBR Tank C-1"][2:])
            para = df.set_index("Parameter")["MBR Tank C-1"][2:]
            para2 = df.set_index("Parameter")["MBR Tank C-2"][2:]
    
    
            mbrC1.loc[realDate+ " "] = para
            mbrC2.loc[realDate] = para2    
   
    
        # which mean there are more columns to read than just the MBR
            p3 = df.set_index("Parameter")["Aeration Tank C"][2:]
            p4 = df.set_index("Parameter")["Anoxic Tank C"][2:]
            p5 = df.set_index("Parameter")["Outlet Lower Stream C"][2:]
            p6 = df.set_index("Parameter")["Outlet Upper Stream C"][2:]
        
            c1.loc[realDate] = p3
            c2.loc[realDate] = p4
            c3.loc[realDate] = p5
            c4.loc[realDate] = p6
    j+=1
    

    
# This is correct for oct and should be for all
# Now check the second loop. Make it correct(Test for oct). Then ccopy all that to the above loop

'2020-09-09'

In [19]:
dft = streamC["MBR TANK D-1"].reset_index()["Dates"].dt.month 
streamC["MBR TANK D-1"].reset_index()[dft == 10]

#To make sure it is updated

,Dates,DO,pH,Temperature,Conductivity,TDS,Mixed Liquor Filterability,TSS,MLSS,MLVSS,...,Calcium Hardness,Magnesium Hardness,PO4-PO4,Chloride,Total Alkalinity,Turbidity,Free Chlorine,Coli Count,Hypo Generation Conc.,Boron
42,2010-10-01,7.11,7.03,NaN,NaN,NaN,43.0,NaN,11067.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2010-10-02,7.16,6.96,NaN,NaN,NaN,45.0,NaN,10467.0,6600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2010-10-03,7.03,7.02,NaN,NaN,NaN,45.0,NaN,11200.0,7056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2010-10-04,7.00,6.95,NaN,NaN,NaN,42.0,NaN,11733.0,7391.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2010-10-05,6.77,6.99,NaN,NaN,NaN,38.0,NaN,11800.0,7434.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2010-10-06,7.13,6.87,NaN,NaN,NaN,43.0,NaN,10667.0,6741.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2010-10-07,6.94,6.92,NaN,NaN,NaN,39.0,NaN,11333.0,7139.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2010-10-08,6.88,7.13,NaN,NaN,NaN,41.0,NaN,10800.0,6858.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2010-10-09,6.86,7.05,NaN,NaN,NaN,34.0,NaN,11333.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2010-10-10,6.59,7.06,NaN,NaN,NaN,32.0,NaN,11467.0,7315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2010-10-11,6.88,7.17,NaN,NaN,NaN,34.0,NaN,11133.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2010-10-12,6.85,7.23,NaN,NaN,NaN,32.0,NaN,11733.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2010-10-13,7.02,7.19,NaN,NaN,NaN,38.0,NaN,11533.0,7273.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2010-10-14,6.03,7.15,NaN,NaN,NaN,44.0,NaN,12067.0,7602.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2010-10-15,6.63,7.01,NaN,NaN,NaN,45.0,NaN,11267.0,7019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2010-10-16,6.61,7.03,NaN,NaN,NaN,45.0,NaN,11800.0,7733.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2010-10-17,6.82,6.89,NaN,NaN,NaN,42.0,NaN,11467.0,6933.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2010-10-18,6.45,6.83,NaN,NaN,NaN,43.0,NaN,11200.0,7267.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2010-10-19,6.72,6.91,NaN,NaN,NaN,42.0,NaN,11467.0,7467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2010-10-20,6.35,6.84,NaN,NaN,NaN,41.0,NaN,11400.0,7421.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2010-10-21,6.57,6.91,NaN,NaN,NaN,40.0,NaN,11600.0,7467.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2010-10-22,6.73,7.00,NaN,NaN,NaN,42.0,NaN,11333.0,7600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2010-10-23,6.85,7.07,NaN,NaN,NaN,43.0,NaN,11467.0,7333.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2010-10-24,7.23,7.15,NaN,NaN,NaN,43.0,NaN,11067.0,6916.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2010-10-25,7.17,7.03,NaN,NaN,NaN,46.0,NaN,11666.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,2010-10-26,7.00,6.95,NaN,NaN,NaN,45.0,NaN,12533.0,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2010-10-27,7.02,7.19,NaN,NaN,NaN,40.0,NaN,11933.0,7800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2010-10-28,7.27,7.26,NaN,NaN,NaN,39.0,NaN,11600.0,7600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,2010-10-29,6.74,7.18,NaN,NaN,NaN,42.0,NaN,12200.0,8067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2010-10-30,6.85,7.15,NaN,NaN,NaN,40.0,NaN,11600.0,7600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2010-10-31,6.89,7.17,NaN,NaN,NaN,40.0,NaN,12333.0,7866.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Write it

In [9]:
#streamC.to_csv('StreamC.csv', index=False)
with pd.ExcelWriter('output.xlsx') as writer:
    for sheet_name, df in streamC.items():
        df.to_excel(writer, sheet_name=sheet_name)

## Clean the Date column

In [10]:
xls_file = 'output.xlsx'
all_sheets = pd.read_excel(xls_file, sheet_name=None)  # Read all sheets into a dictionary of DataFrames

# Iterate over each sheet and modify the datetime column
for sheet_name, df in all_sheets.items():
    if 'Dates' in df.columns:  # Replace 'date_column_name' with the name of your datetime column
        df['Dates'] = df['Dates'].dt.date

# Save the modified DataFrames back to the Excel file
with pd.ExcelWriter(xls_file) as writer:
    for sheet_name, df in all_sheets.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Other testings:

In [11]:
mbrC1  = streamC["MBR TANK D-1"]
df = pd.read_excel("C:\\Users\\ggfor\\Downloads\\WWTP Lab Results September 1.xlsx",sheet_name="10-09-2010 ", skiprows=2)

#6.86
para = df.set_index("Parameter")["MBR Tank C-1"][2:]
mbrC1.loc["10-09-2010"] = para
streamC["MBR TANK D-1"]

,DO,pH,Temperature,Conductivity,TDS,Mixed Liquor Filterability,TSS,MLSS,MLVSS,BOD5,...,Calcium Hardness,Magnesium Hardness,PO4-PO4,Chloride,Total Alkalinity,Turbidity,Free Chlorine,Coli Count,Hypo Generation Conc.,Boron
Dates,,,,,,,,,,,,,,,,,,,,,
2010-08-01,5.95,7.26,NaN,NaN,NaN,42.0,NaN,15933.0,10516.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-02,6.08,7.24,NaN,NaN,NaN,42.0,NaN,15667.0,10387.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-03,5.95,7.24,NaN,NaN,NaN,44.0,NaN,15467.0,9400.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-04,5.27,7.23,NaN,NaN,NaN,38.0,NaN,16467.0,9667.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-05,5.11,7.25,NaN,NaN,NaN,41.0,NaN,15467.0,10208.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-01-13,7.95,7.20,NaN,NaN,NaN,36.0,NaN,12200.0,7933.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-14,7.92,7.32,NaN,NaN,NaN,34.0,NaN,12400.0,8133.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-15,7.90,7.25,NaN,NaN,NaN,39.0,NaN,12600.0,7867.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-16,7.92,7.33,NaN,NaN,NaN,37.0,NaN,12333.0,7933.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-17,7.94,7.30,NaN,NaN,NaN,38.0,NaN,12200.0,7733.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sept.keys()

dict_keys(['07-01-2011 (3)', '01-09-2010', '02-09-2010', '03-09-2010', '04-09-2010', '05-09-2010', '06-09-2010', '07-09-2010', '08-09-2010', '09-09-2010 ', '10-09-2010 ', '11-09-2010', '12-09-2010 ', '13-09-2010', '14-09-2010 ', '15-09-2010', '16-09-2010 ', '17-09-2010 ', '18-09-2010 ', '19-09-2010', '20-09-2010 ', '21-09-2010 ', '22-09-2010', '23-09-2010 ', '24-09-2010 ', '25-09-2010 ', '26-09-2010', '27-09-2010 ', '28-09-2010', '29-09-2010 ', '30-09-2010'])

In [11]:
sept["09-09-2010 "]

,Parameter,Unit,Head Work,Equal. Tank,Stand. Value Influent,Outlet Upper Stream,Outlet Lower Stream,Inlet Efflu. Tank,Treated Efflu. Tank A,Treated Efflu. Tank B,St. value Efflu.,Anoxic Tank,Aeration Tank,MBR Tank C-1,MBR Tank C-2,MBR Tank D-1,MBR Tank D-2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DO,mg/l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 5.0,0.18,5.45,5.27,5.39,5.5,5.67
3,pH,-,7.61,7.17,6 ~ 9,8.03,8.04,7.39,7.80,7.80,6 ~ 9,7.38,7.34,7.27,7.26,7.3,7.32
4,Temperature,Â°C,0,0.00,< 35,0.00,0.00,0,0.00,0.00,< 35,NaN,32.40,NaN,NaN,0,0.00
5,Conductivity,(ÂµS/cm),303,415.00,< 2850,605.00,604.00,3027,932.00,1104.00,< 2850,NaN,0.00,NaN,NaN,0,0.00
6,TDS,mg/l,200,263.00,< 2000,415.00,414.00,2240,647.00,769.00,< 2000,NaN,0.00,NaN,NaN,0,0.00
7,Mixed Liquor Filterability,ml/5min.,0,0.00,NaN,0.00,0.00,0,0.00,0.00,NaN,NaN,40.00,42.00,33.00,44,41.00
8,TSS,mg/l,31,65.00,312,1.00,0.00,0,1.00,1.00,< 10,NaN,0.00,NaN,NaN,0,0.00
9,MLSS,mg/l,0,0.00,NaN,0.00,0.00,0,0.00,0.00,NaN,NaN,8733.00,10067.00,10067.00,9200,10133.00
10,MLVSS,mg/l,0,0.00,NaN,0.00,0.00,0,0.00,0.00,NaN,NaN,5067.00,6211.00,6141.00,5733,6000.00
11,BOD5,mg/l,NaN,NaN,264,0.00,0.00,0,NaN,NaN,< 10,NaN,NaN,NaN,NaN,NaN,NaN
12,Glucose Consumption,kg/d,0,1000.00,NaN,0.00,0.00,0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,COD,mg/l,68,135.00,527,7.50,6.10,7.2,7.00,4.60,< 50,NaN,NaN,NaN,NaN,NaN,NaN
14,TKN,mg/l,17.6,16.00,40,0.00,0.00,0,0.00,0.00,< 2.0,NaN,NaN,NaN,NaN,NaN,NaN
15,NH3-N,mg/l,13,7.00,25,0.00,0.00,0,0.00,0.00,< 1.0,NaN,NaN,NaN,NaN,#REF!,NaN
16,NO3-N,mg/l,1.1,15.30,< 10,10.90,8.30,12.5,8.20,9.00,< 10,NaN,NaN,NaN,NaN,NaN,NaN
17,FOG,mg/l,0,40.00,< 30,14.30,11.40,0,0.00,0.00,Non,NaN,NaN,NaN,NaN,NaN,NaN
18,Calcium Hardness,mg/l,36,48.00,NaN,56.00,56.00,180,68.00,72.00,< 230,NaN,NaN,NaN,NaN,NaN,NaN
19,Magnesium Hardness,mg/l,8,12.00,NaN,20.00,16.00,380,72.00,76.00,< 140,NaN,NaN,NaN,NaN,NaN,NaN
20,PO4-PO4,mg/l,5,7.50,NaN,6.20,6.10,6,5.70,5.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Chloride,mg/l,96,126.00,NaN,124.00,124.00,910,222.00,260.00,< 350,NaN,NaN,NaN,NaN,NaN,NaN
22,Total Alkalinity,mg/l,96,92.00,200,80.00,84.00,140,112.00,140.00,< 400,NaN,NaN,NaN,NaN,NaN,NaN
23,Turbidity,NTU,00:00:00,NaN,NaN,0.15,0.18,0.24,0.26,0.21,< 10,NaN,NaN,NaN,NaN,NaN,NaN
24,Free Chlorine,mg/l,00:00:00,NaN,Non,NaN,NaN,4.7,0.04,0.04,0.5,NaN,NaN,NaN,NaN,NaN,NaN
25,Coli Count,per 100ml,00:00:00,NaN,NaN,NaN,NaN,NIL,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Hypo Generation Conc.,mg/l,0,NaN,NaN,NaN,NaN,186,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Boron,mg/l,1,NaN,NaN,NaN,NaN,NaN,1.90,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
s = pd.read_excel("C:\\Users\\ggfor\\Downloads\\WWTP Lab Results September 1.xlsx",sheet_name="28-09-2010", skiprows=4)
s[(s["Parameter"] == "pH") ] ["MBR Tank C-1"]

3    7.21
Name: MBR Tank C-1, dtype: float64

In [9]:
streamC["outlet upper stream"] = streamC["outlet upper stream"].set_index("Dates")
streamC["outlet upper stream"].loc["2010-08-01"].iloc[1] = 1

KeyError: "None of ['Dates'] are in the columns"